{% load static %}
<nav class="bg-white shadow-md py-4 px-6">
    <div class="flex items-center justify-between max-w-6xl mx-auto ml-auto">
        <!-- Логотип -->
        <a href="{% url 'myapp:index' %}" class="flex items-center gap-2">
            <img src="{% static 'images/shop.png' %}" alt="logo" class="h-8 w-8">
            <span class="text-xl font-bold text-gray-800">Shop Gio</span>
        </a>

        <!-- Кнопка меню для мобильных устройств -->
        <button class="md:hidden flex items-center text-gray-600 hover:text-gray-800 ml-auto" id="mobile-menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <!-- Меню -->
        <div class="hidden md:flex items-center gap-6 ml-auto space-x-1">
            <a href="{% url 'myapp:index' %}" class="text-gray-600 hover:text-gray-800 font-medium">Главное меню</a>
            <a href="#" class="text-gray-600 hover:text-gray-800 font-medium">О нас</a>
            <a href="#" class="text-gray-600 hover:text-gray-800 font-medium">Контакты</a>
        </div>

        <!-- Правая часть -->
        <div class="hidden md:flex items-center gap-6 ml-auto">
            <div class="relative flex flex-col items-center cursor-pointer">
                <img src="/static/images/redWishlist.svg" alt="Wishlist" class="w-8 h-8">
                <span class="text-gray-600 text-xs mt-1">1</span>
            </div>

            <div class="relative flex flex-col items-center cursor-pointer">
                <img src="/static/images/cart.svg" alt="Cart" class="w-8 h-8">
                <span class="text-gray-600 text-xs mt-1">1123123</span>
            </div>

            {% if user.is_authenticated %}
                <p class="text-gray-600 hover:text-gray-800 font-medium">{{ user.username }}</p>
                <a href="{% url 'users:logout' %}" class="text-white bg-blue-600 hover:bg-blue-800 px-4 py-2 rounded">Выйти</a>
            {% else %}
            <a href="{% url 'users:login' %}" class="text-white bg-blue-600 hover:bg-blue-800 px-4 py-2 rounded">Войти</a>
            {% endif %}
        </div>
    </div>

    <!-- Мобильное меню -->
    <div class="hidden" id="mobile-menu">
        <div class="flex flex-col items-start gap-4 mt-4 ml-auto">
            <a href="#" class="text-gray-600 hover:text-gray-800 font-medium">Главное меню</a>
            <a href="#" class="text-gray-600 hover:text-gray-800 font-medium">О нас</a>
            <a href="#" class="text-gray-600 hover:text-gray-800 font-medium">Контакты</a>
            <div class="flex flex-col items-start gap-2 mt-4">
                <a href="#" class="text-white bg-blue-600 hover:bg-blue-800 px-4 py-2 rounded">Войти</a>
            </div>
        </div>
    </div>
</nav>

<!-- Скрипт для переключения меню -->
<script>
    document.getElementById('mobile-menu-button').addEventListener('click', function () {
        const mobileMenu = document.getElementById('mobile-menu');
        mobileMenu.classList.toggle('hidden'); // Переключаем класс 'hidden' для отображения/скрытия
    });
</script>