{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="bg-white p-6 rounded-lg shadow-md w-full md:w-1/4 ">
            <h2 class="text-2xl font-semibold text-center text-gray-800 mb-4">Регистрация</h2>
            <form action="." method="post" class="space-y-4">
                {% csrf_token %}

                <div class="flex flex-col">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <p><label class="form-label text-sm font-medium text-gray-700"
                                  for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                </div>
                <p>
                <button type="submit"
                        class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200">
                    Зарегистрироваться
                </button></p>
            </form>

            <!-- Ссылки для восстановления пароля и входа -->
            <div class="mt-4 text-center text-sm text-gray-600">
                <a href="#" class="text-blue-500 hover:underline">Забыли пароль?</a>
            </div>
            <div class="text-center text-sm text-gray-600">
                <span>Все еще нет аккаунта?</span>
                <a href="{% url 'users:login' %}" class="text-blue-500 hover:underline">Войти</a>
            </div>
        </div>
    </div>
{% endblock content %}
